Repository spatialx-project/geolake: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, test-spark3

test:
  stage: testing
  script:
  - ./gradlew check -DsparkVersions= -DhiveVersions= -DflinkVersions= -x javadoc -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh

test-spark3:
  stage: testing
  script:
  - ./gradlew iceberg-spark:iceberg-spark-3.3_2.12:check -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh -x scalastyleMainCheck -x scalastyleTestCheck
  ...

rename geo functions
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/transforms/TestResiduals.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  data/src/test/java/org/apache/iceberg/TestTableWithGeometry.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
Due: test, test-spark3

Fixed interval matching in XZ2 evaluator
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/IndexRangeSet.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
Due: test, test-spark3

Fixed build after rebasing onto origin/master by switching to new Transform interface with source type removed
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/main/java/org/apache/iceberg/transforms/Transforms.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
Due: test, test-spark3

Fixed void partition on geometry fields, this usually appears after dropping xz2 partitions.
  api/src/main/java/org/apache/iceberg/types/Comparators.java
  core/src/main/java/org/apache/iceberg/avro/TypeToSchema.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestGeometryPartitions.java
Due: test, test-spark3

Added Spark optimization rules for pushing down spatial predicates
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  spark/v3.3/build.gradle
  spark/v3.3/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Due: test, test-spark3

Changed version number and repository for internal development and evaluation
  .gitlab-ci.yml
  build.gradle
  deploy.gradle
  version.txt
Due: test

Implemented automatic redistribution for writing to table partitioned by xz2, fixed a bug in nested list writer.
  .gitlab-ci.yml
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/transforms/SortOrderVisitor.java
  core/src/main/java/org/apache/iceberg/util/CopySortOrderFields.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetValueWriters.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExtendedV2ExpressionUtils.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/connector/expressions/XZ2Transform.scala
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
Due: test, test-spark3

Implemented basic UDFs for geometry values
  spark/v3.3/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Due: test-spark3

implement parquet rowGroup filter
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  data/src/test/java/org/apache/iceberg/TestTableWithGeometry.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetConversions.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestGeoParquetRowGroupFilter.java
Due: test, test-spark3

rename spatial predicate, add test for evaluator
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/IndexRangeSet.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/XZ2SFCurving.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestGeometryHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/transforms/geometry/IndexRangeSetTest.java
  data/src/test/java/org/apache/iceberg/TestTableWithGeometry.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGeoParquetRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetIO.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestGeoParquetRowGroupFilter.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Due: test, test-spark3

Added XZ2 UDF `IcebergXZ2`
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Due: test-spark3

Backport geometry support implemented in v3.3 to v3.2
  spark/v3.2/build.gradle
  spark/v3.2/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExtendedV2ExpressionUtils.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/connector/expressions/XZ2Transform.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/UDTRegistration.scala
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestGeometryPartitions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Due: test-spark3

Restructured Spark tests for geometry tables
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
Due: test-spark3

Backport geometry support implemented in Spark v3.3 to v3.1
  spark/v3.1/build.gradle
  spark/v3.1/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.1/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/OrderField.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/UDTRegistration.scala
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestGeometryPartitions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Due: test-spark3

Enable spatial predicate pushdown optimization for UPDATE ... WHERE spatial-predicate statements
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Due: test-spark3

update ci settings
  .gitlab-ci.yml
  .gitlab/java-ci.yml
  .gitlab/spark-ci.yml
Due: test

Rename descriptions of iceberg spatial predicate in spark
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Due: test-spark3

Build: add gitlab ci
  .gitlab-ci.yml
  build.gradle
Due: test

Build: add gitlab ci
  build.gradle
Due: none

API: add geometry type
  api/src/main/java/org/apache/iceberg/expressions/Pair.java
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  build.gradle
  versions.props
Due: test, test-spark3

API: add geometry type
  api/src/main/java/org/apache/iceberg/expressions/Pair.java
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  versions.props
Due: test, test-spark3

API: add xz2 index
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/expressions/BoundPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/BoundRangePredicate.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/main/java/org/apache/iceberg/transforms/Transforms.java
  api/src/main/java/org/apache/iceberg/transforms/UnboundRangePredicate.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/IndexRangeSet.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/XZ2SFCurving.java
  api/src/test/java/org/apache/iceberg/transforms/TestXZ2SFC.java
  api/src/test/java/org/apache/iceberg/transforms/TestXZIndex.java
Due: test, test-spark3

Implemented Geometry UDT for Apache Spark
  spark/v3.3/build.gradle
  spark/v3.3/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/udt/GeometryUDT.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/udt/package.scala
Due: test-spark3

Implemented vectorized reader for geometry columns in parquet files
  arrow/src/main/java/org/apache/iceberg/arrow/ArrowSchemaUtil.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowVectorAccessors.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/BaseBatchReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ColumnVector.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/NullabilityHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedNestedListGeometryArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedReaderBuilder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedWKBBBoxArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/RunLengthIntegerValuesHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedColumnIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetRepetitionLevelReader.java
  arrow/src/test/java/org/apache/iceberg/arrow/ArrowSchemaUtilTest.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedGeoParquetReaderTest.java
Due: test, test-spark3

Implemented parquet reader and writer for tables with geometry columns
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  core/src/main/java/org/apache/iceberg/FieldMetrics.java
  core/src/main/java/org/apache/iceberg/GeometryFieldMetrics.java
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  data/src/main/java/org/apache/iceberg/data/GenericAppenderFactory.java
  data/src/main/java/org/apache/iceberg/data/GenericReader.java
  data/src/main/java/org/apache/iceberg/data/IcebergGenerics.java
  data/src/main/java/org/apache/iceberg/data/TableScanIterable.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/BasePageIterator.java
  parquet/src/main/java/org/apache/iceberg/parquet/ColumnIterator.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetEnums.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetGeometryBuilder.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetValueWriters.java
  parquet/src/main/java/org/apache/iceberg/parquet/PageIterator.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetConversions.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetReadSupport.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetSchemaUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeToMessageType.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeWithSchemaVisitor.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestGeoParquet.java
Due: test, test-spark3

API: support geometry filter
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Literal.java
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/IndexRangeSet.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/XZ2SFCurving.java
  api/src/main/java/org/apache/iceberg/types/Conversions.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/transforms/TestXZ2SFC.java
  api/src/test/java/org/apache/iceberg/types/TestReadabilityChecks.java
  api/src/test/java/org/apache/iceberg/types/TestSerializableTypes.java
  build.gradle
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
Due: test, test-spark3

API: support geometry filter
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Literal.java
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/IndexRangeSet.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/XZ2SFCurving.java
  api/src/main/java/org/apache/iceberg/types/Conversions.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/transforms/TestXZ2SFC.java
  api/src/test/java/org/apache/iceberg/types/TestReadabilityChecks.java
  api/src/test/java/org/apache/iceberg/types/TestSerializableTypes.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
Due: test, test-spark3

spark3.3 ddl sql support geometry and xz partition
  api/src/main/java/org/apache/iceberg/transforms/PartitionSpecVisitor.java
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/main/java/org/apache/iceberg/Partitioning.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
Due: test, test-spark3

spark3.3 ddl sql support geometry and xz partition
  .gitlab-ci.yml
  api/src/main/java/org/apache/iceberg/transforms/PartitionSpecVisitor.java
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/main/java/org/apache/iceberg/Partitioning.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
Due: test, test-spark3

Path conditions:
  test: any of: aliyun/**/*, api/**/*, arrow/**/*, aws/**/*, bundled-guava/**/*, common/**/*, core/**/*, data/**/*, dell/**/*, flink/**/*, gcp/**/*, hive3/**/*, hive3-orc-bundle/**/*, hive-metastore/**/*, hive-runtime/**/*, mr/**/*, nessie/**/*, orc/**/*, parquet/**/*, pig/**/*, .gitlab-ci.yml
  test-spark3: any of: spark/v3.3/**/*, aliyun/**/*, api/**/*, arrow/**/*, aws/**/*, bundled-guava/**/*, common/**/*, core/**/*, data/**/*, dell/**/*, gcp/**/*, hive-metastore/**/*, nessie/**/*, orc/**/*, parquet/**/*, spark/**/*
