Repository spatialx-project/geolake: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, test-spark3

.gitlab/java-ci.yml:

test:
  stage: testing
  script:
    - './gradlew check -DsparkVersions= -DhiveVersions= -DflinkVersions= -x javadoc -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh'
  only:
    refs:
      - merge_requests
    changes:
      - aliyun/**/*
      - api/**/*
      - arrow/**/*
      - aws/**/*
      - bundled-guava/**/*
      - common/**/*
      - core/**/*
      - data/**/*
      - dell/**/*
      - flink/**/*
      - gcp/**/*
      - hive3/**/*
      - hive3-orc-bundle/**/*
      - hive-metastore/**/*
      - hive-runtime/**/*
      - mr/**/*
      - nessie/**/*
      - orc/**/*
      - parquet/**/*
      - pig/**/*
      - .gitlab-ci.yml

.gitlab/spark-ci.yml:

test-spark3:
  stage: testing
  script:
    - './gradlew iceberg-spark:iceberg-spark-3.3_2.12:check -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh -x scalastyleMainCheck -x scalastyleTestCheck'
    - './gradlew iceberg-spark:iceberg-spark-extensions-3.3_2.12:check -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh -x scalastyleMainCheck -x scalastyleTestCheck'
    - './gradlew iceberg-spark:iceberg-spark-runtime-3.3_2.12:check -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh -x scalastyleMainCheck -x scalastyleTestCheck'
  only:
    refs:
      - merge_requests
    changes:
      - spark/v3.3/**/*
      - aliyun/**/*
      - api/**/*
      - arrow/**/*
      - aws/**/*
      - bundled-guava/**/*
      - common/**/*
      - core/**/*
      - data/**/*
      - dell/**/*
      - gcp/**/*
      - hive-metastore/**/*
      - nessie/**/*
      - orc/**/*
      - parquet/**/*
      - spark/**/*

writing into partitioned tables
  api/src/main/java/org/apache/iceberg/transforms/geometry/XZ2SFCurving.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
Due: test, test-spark3

Implemented Geometry UDT for Apache Spark
  spark/v3.3/build.gradle
  spark/v3.3/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/udt/GeometryUDT.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/udt/package.scala
Due: test-spark3

geometry: accept more diverse objects
  api/src/main/java/org/apache/iceberg/types/Type.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
Due: test, test-spark3

Support vectorized reads for geometry values in Spark, though the implementation is far from being efficient.
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowGeometryVectorAccessor.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ColumnVector.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedNestedListGeometryArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedReaderBuilder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedWKBArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedWKBBBoxArrowReader.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedGeoParquetReaderTest.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetValueWriters.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeWithSchemaVisitor.java
  spark/v3.3/build.gradle
  spark/v3.3/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/UDTRegistration.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Due: test, test-spark3

rename geo functions
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/transforms/TestResiduals.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  data/src/test/java/org/apache/iceberg/TestTableWithGeometry.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
Due: test, test-spark3

spark3.3 ddl sql support geometry and xz partition
  api/src/main/java/org/apache/iceberg/transforms/PartitionSpecVisitor.java
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/main/java/org/apache/iceberg/Partitioning.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
Due: test, test-spark3

Implemented basic UDFs for geometry values
  spark/v3.3/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Due: test-spark3

Implemented automatic redistribution for writing to table partitioned by xz2, fixed a bug in nested list writer.
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/transforms/SortOrderVisitor.java
  core/src/main/java/org/apache/iceberg/util/CopySortOrderFields.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetValueWriters.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExtendedV2ExpressionUtils.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/connector/expressions/XZ2Transform.scala
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
Due: test, test-spark3

Added Spark optimization rules for pushing down spatial predicates
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  spark/v3.3/build.gradle
  spark/v3.3/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitioningAwareScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Due: test, test-spark3

Fixed interval matching in XZ2 evaluator
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/IndexRangeSet.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
Due: test, test-spark3

Changed version number and repository for internal development and evaluation
  version.txt
Due: none

Added XZ2 UDF `IcebergXZ2`
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Due: test-spark3

rename spatial predicate, add test for evaluator
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/IndexRangeSet.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/XZ2SFCurving.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestGeometryHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/transforms/geometry/IndexRangeSetTest.java
  data/src/test/java/org/apache/iceberg/TestTableWithGeometry.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGeoParquetRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetIO.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestGeoParquetRowGroupFilter.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Due: test, test-spark3

Fixed void partition on geometry fields, this usually appears after dropping xz2 partitions.
  api/src/main/java/org/apache/iceberg/types/Comparators.java
  core/src/main/java/org/apache/iceberg/avro/TypeToSchema.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestGeometryPartitions.java
Due: test, test-spark3

Fixed build after rebasing onto origin/master by switching to new Transform interface with source type removed
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/main/java/org/apache/iceberg/transforms/Transforms.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
Due: test, test-spark3

implement parquet rowGroup filter
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  data/src/test/java/org/apache/iceberg/TestTableWithGeometry.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetConversions.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestGeoParquetRowGroupFilter.java
Due: test, test-spark3

Backport geometry support implemented in v3.3 to v3.2
  spark/v3.2/build.gradle
  spark/v3.2/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExtendedV2ExpressionUtils.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/connector/expressions/XZ2Transform.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/UDTRegistration.scala
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestGeometryPartitions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Due: test-spark3

Restructured Spark tests for geometry tables
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
Due: test-spark3

Fixed compilation after rebasing on 73b70e3824f049e3e3808e8255a8188a924daf64
  .palantir/revapi.yml
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetValueReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
Due: test, test-spark3

Rename descriptions of iceberg spatial predicate in spark
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Due: test-spark3

Backport geometry support implemented in Spark v3.3 to v3.1
  spark/v3.1/build.gradle
  spark/v3.1/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.1/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/OrderField.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/UDTRegistration.scala
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestGeometryPartitions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Due: test-spark3

Enable spatial predicate pushdown optimization for UPDATE ... WHERE spatial-predicate statements
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScan.java
Due: test-spark3

deploy to github packages
  deploy.gradle
  version.txt
Due: none

update README
  README.md
  deploy.gradle
  docs/benchmark.md
  docs/geolake-overview.png
Due: none

fix build
  .github/dependabot.yml
  .gitignore
  build.gradle
Due: none

Switches underlying Spark SQL type of GeometryUDT from Array to Binary; Fixed exception when running SELECT * FROM iceberg_table.files
  api/src/main/java/org/apache/iceberg/types/Conversions.java
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetUtil.java
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
  version.txt
Due: test, test-spark3

Switched GeometryUDT in iceberg-spark to a faster implementation
  .baseline/checkstyle/checkstyle-suppressions.xml
  baseline.gradle
  core/src/main/java/org/apache/iceberg/geometry/serde/ByteBufferGeometryBuffer.java
  core/src/main/java/org/apache/iceberg/geometry/serde/CoordinateType.java
  core/src/main/java/org/apache/iceberg/geometry/serde/GeometryBuffer.java
  core/src/main/java/org/apache/iceberg/geometry/serde/GeometryBufferFactory.java
  core/src/main/java/org/apache/iceberg/geometry/serde/GeometrySerializer.java
  core/src/main/java/org/apache/iceberg/geometry/serde/UnsafeGeometryBuffer.java
  core/src/test/java/org/apache/iceberg/geometry/serde/GeometryBufferTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/GeometryCollectionSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/LineStringSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/MultiLineStringSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/MultiPointSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/MultiPolygonSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/PointSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/PolygonSerdeTest.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
Due: test, test-spark3

rebase to apache-iceberg-1.2.0
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScan.java
Due: test-spark3

rebase && support spark3.4
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedNestedListGeometryArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedWKBArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedWKBBBoxArrowReader.java
  spark/v3.4/build.gradle
  spark/v3.4/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.4/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/Xz2Function.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitioningAwareScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScan.java
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/UDTRegistration.scala
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestGeometryPartitions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Due: test, test-spark3

support geom aggregate pushdown
  api/src/main/java/org/apache/iceberg/expressions/Aggregate.java
  api/src/main/java/org/apache/iceberg/expressions/BoundAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/GeoMinMaxAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/MaxAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/MaxAggregator.java
  api/src/main/java/org/apache/iceberg/expressions/MinAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/MinAggregator.java
  api/src/main/java/org/apache/iceberg/expressions/Pair.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/ValueAggregate.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateEvaluator.java
  spark/v3.4/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryAggregatePushDown.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryAggregatePushDown.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkAggregates.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/AbstractGeomMinMaxAggFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/AggSupportPartialPushDown.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/GeomMinMax.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitioningAwareScan.java
Due: test, test-spark3

rebase to apache-iceberg-1.3.1
  README.md
  api/src/main/java/org/apache/iceberg/expressions/GeoMinMaxAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/MaxAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/MaxAggregator.java
  api/src/main/java/org/apache/iceberg/expressions/MinAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/MinAggregator.java
  api/src/main/java/org/apache/iceberg/expressions/ValueAggregate.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  data/src/main/java/org/apache/iceberg/data/IcebergGenerics.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  version.txt
Due: test, test-spark3

flink 1.7: support read and write geometry values
  api/src/test/java/org/apache/iceberg/util/RandomUtil.java
  flink/v1.17/build.gradle
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkTypeToType.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/TypeToFlinkType.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkFileWriterFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GeoParquetReadBuilder.java
Due: test, test-spark3

Update README.md
  README.md
Due: none
