Repository spatialx-project/geolake: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, test-spark3

.gitlab/java-ci.yml:

test:
  stage: testing
  script:
    - './gradlew check -DsparkVersions= -DhiveVersions= -DflinkVersions= -x javadoc -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh'
  only:
    refs:
      - merge_requests
    changes:
      - aliyun/**/*
      - api/**/*
      - arrow/**/*
      - aws/**/*
      - bundled-guava/**/*
      - common/**/*
      - core/**/*
      - data/**/*
      - dell/**/*
      - flink/**/*
      - gcp/**/*
      - hive3/**/*
      - hive3-orc-bundle/**/*
      - hive-metastore/**/*
      - hive-runtime/**/*
      - mr/**/*
      - nessie/**/*
      - orc/**/*
      - parquet/**/*
      - pig/**/*
      - .gitlab-ci.yml

.gitlab/spark-ci.yml:

test-spark3:
  stage: testing
  script:
    - './gradlew iceberg-spark:iceberg-spark-3.3_2.12:check -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh -x scalastyleMainCheck -x scalastyleTestCheck'
    - './gradlew iceberg-spark:iceberg-spark-extensions-3.3_2.12:check -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh -x scalastyleMainCheck -x scalastyleTestCheck'
    - './gradlew iceberg-spark:iceberg-spark-runtime-3.3_2.12:check -x spotlessCheck -x checkstyleMain -x checkstyleTest -x checkstyleIntegration -x checkstyleJmh -x scalastyleMainCheck -x scalastyleTestCheck'
  only:
    refs:
      - merge_requests
    changes:
      - spark/v3.3/**/*
      - aliyun/**/*
      - api/**/*
      - arrow/**/*
      - aws/**/*
      - bundled-guava/**/*
      - common/**/*
      - core/**/*
      - data/**/*
      - dell/**/*
      - gcp/**/*
      - hive-metastore/**/*
      - nessie/**/*
      - orc/**/*
      - parquet/**/*
      - spark/**/*

Added XZ2 UDF `IcebergXZ2`
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Due: test-spark3

rename spatial predicate, add test for evaluator
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/transforms/ExtendedZCurve.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/IndexRangeSet.java
  api/src/main/java/org/apache/iceberg/transforms/geometry/XZ2SFCurving.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestGeometryHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/transforms/geometry/IndexRangeSetTest.java
  data/src/test/java/org/apache/iceberg/TestTableWithGeometry.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGeoParquetRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetIO.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestGeoParquetRowGroupFilter.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Due: test, test-spark3

Restructured Spark tests for geometry tables
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
Due: test-spark3

Backport geometry support implemented in v3.3 to v3.2
  spark/v3.2/build.gradle
  spark/v3.2/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExtendedV2ExpressionUtils.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/connector/expressions/XZ2Transform.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/UDTRegistration.scala
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestGeometryPartitions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Due: test-spark3

Backport geometry support implemented in Spark v3.3 to v3.1
  spark/v3.1/build.gradle
  spark/v3.1/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergGeometrySqlParser.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.1/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/OrderField.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkTypeVisitor.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/GeometryExpressions.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/UDTRegistration.scala
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestGeometryPartitions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Due: test-spark3

Rename descriptions of iceberg spatial predicate in spark
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Due: test-spark3

Enable spatial predicate pushdown optimization for UPDATE ... WHERE spatial-predicate statements
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestGeometryPredicatePushDown.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Due: test-spark3

Fixed compilation after rebasing on 73b70e3824f049e3e3808e8255a8188a924daf64
  .palantir/revapi.yml
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetValueReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
Due: test, test-spark3

Switches underlying Spark SQL type of GeometryUDT from Array to Binary; Fixed exception when running SELECT * FROM iceberg_table.files
  api/src/main/java/org/apache/iceberg/types/Conversions.java
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetUtil.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
Due: test, test-spark3

Switches underlying Spark SQL type of GeometryUDT from Array to Binary; Fixed exception when running SELECT * FROM iceberg_table.files
  api/src/main/java/org/apache/iceberg/types/Conversions.java
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/GeoParquetUtil.java
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/GeometryPredicatePushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTableWithGeometryColumn.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometryUDT.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
  version.txt
Due: test, test-spark3

Switched GeometryUDT in iceberg-spark to a faster implementation
  .baseline/checkstyle/checkstyle-suppressions.xml
  baseline.gradle
  core/src/main/java/org/apache/iceberg/geometry/serde/ByteBufferGeometryBuffer.java
  core/src/main/java/org/apache/iceberg/geometry/serde/CoordinateType.java
  core/src/main/java/org/apache/iceberg/geometry/serde/GeometryBuffer.java
  core/src/main/java/org/apache/iceberg/geometry/serde/GeometryBufferFactory.java
  core/src/main/java/org/apache/iceberg/geometry/serde/GeometrySerializer.java
  core/src/main/java/org/apache/iceberg/geometry/serde/UnsafeGeometryBuffer.java
  core/src/test/java/org/apache/iceberg/geometry/serde/GeometryBufferTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/GeometryCollectionSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/LineStringSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/MultiLineStringSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/MultiPointSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/MultiPolygonSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/PointSerdeTest.java
  core/src/test/java/org/apache/iceberg/geometry/serde/PolygonSerdeTest.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/iceberg/udt/GeometrySerializer.scala
Due: test, test-spark3

init
  README.md
  docs/benchmark.md
  docs/geolake-overview.png
Due: none

upload docker link
  README.md
Due: none

add PVLDB Artifact
  README.md
Due: none

update README
  README.md
Due: none

fix build
  .github/dependabot.yml
  .gitignore
  build.gradle
Due: none

deploy to github packages
  deploy.gradle
  version.txt
Due: none

update README
  README.md
  deploy.gradle
  docs/benchmark.md
  docs/geolake-overview.png
Due: none

API: add geometry type
  api/src/main/java/org/apache/iceberg/expressions/Pair.java
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  versions.props
Due: test, test-spark3
